/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



.example-section{
    border-bottom: 0.25em solid gray;
    padding: 2em
}

.small-example-section{
    border-bottom: 0.25em solid lightgray;
    padding: 0.5em
}




.requesters-table td {
    border: 1px solid gray;
    padding: 0.25em;
    margin: 0.25em;
}
.requesters-table thead {
    border: 2px solid black;
    padding: 0.25em;
    margin: 0.25em;
}



#Sonifizer-js{
    white-space:pre-wrap;
    border:1px solid lightgray;
}
#Sonifizer-js-download{
    display:inline-block;
}



#social-buttons-container{
    min-height: 2em;
}

.social-buttons{
    display: none;
}


#admin-bar{
    text-align:center;
    padding-top: 2em;
    text-decoration: none;
}



a{
    text-decoration:none !important;
}

